ion-content{
    background-image: url(../../assets/imgs/Screenshot_2016-12-13-10-27-01.png);
    background-repeat: no-repeat;
    background-position: center;
    height:100% ;
    width: 100%;
    font: 1em sans-serif;
    text-emphasis-color: danger;

}
